@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
table {
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}
strong {
    font-weight: bold;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #fafafa;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}
/* Custom CSS
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 6em;
}
p {
    font-size: 2em;
    color: #fafafa;
}
.pleft {
    padding-left: 50px;
    padding-right: 10px;
    text-align: left;
}
.pright {
    padding-right: 50px;
    padding-left: 10px;
    text-align: left;
}
.ms-section {
    text-align: center;
}
#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active {
    background: #666;
    background: rgba(255, 255, 255, 1);
    color: #000;
}
#menu li a {
    text-decoration: none;
    color: #000;
}
#menu li.active a:hover {
    color: #000;
}
#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}
#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}
#menu li.active a {
    color: #000;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}
#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}
#infoMenu ul {
    padding: 0 40px;
}
#infoMenu li a {
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}
#infoMenu li a:hover {
    text-decoration: underline;
}
#infoMenu li {
    display: inline-block;
    position: relative;
}
#examplesList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width: 638px;
    text-align: left;
}
#examplesList ul {
    padding: 0;
}
#examplesList ul li {
    display: block;
    margin: 5px 0;
}
#examplesList ul li a {
    color: #BDBDBD;
    margin: 0;
}
#examplesList ul li a:hover {
    color: #f2f2f2;
}
#examplesList .column {
    float: left;
    margin: 0 20px 0 0;
}
#examplesList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}
/* Demos Menu
 * --------------------------------------- */

#demosMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
body {
    font-family: Helvetica, Tahoma;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.aos-all {
    width: 1000px;
    max-width: 98%;
    margin: 10vh auto 0 auto;
}
.aos-item {
    display: inline-block;
    float: left;
    width: 33.3333%;
    height: 300px;
    padding: 20px;
}
.aos-item__inner {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    background: #1da4e2;
    line-height: 260px;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 800px) {
    .aos-item {
        width: 50%;
    }
}
/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 100%;
    font-family: "Noto Sans", sans-serif;
    color: #eee9dc;
}
h2 {
    margin: 3em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* -------------------------------------
 * timeline
 * ------------------------------------- */

#timeline {
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid #eee9dc;
}
#timeline li {
    margin: 40px 0;
    position: relative;
}
#timeline p {
    margin: 0 0 15px;
    font-size: 16px;
}
.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #fafafa;
    border: 5px solid #fafafa;
    border-radius: 50%;
    display: block;
    position: absolute;
}
.content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}
.content:before,
.content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}
.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}
.content:after {
    border-right-color: #fafafa;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}
.content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
    font-size: 14px;
}
label {
    font-size: 25px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
    text-align: left;
    left: 50px;
}
.radio {
    display: none;
}
.radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
}
.radio:checked + .relative .circle {
    background: #633492;
}
.radio:checked ~ .content {
    max-height: 180px;
    border-color: #eee9dc;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
    max-height: 200px;
    color: #eee9dc;
    transition: color 0.3s linear 0.3s;
}
/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */

@media screen and (max-width: 767px) {
    #timeline {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }
    #timeline li {
        margin: 50px 0;
    }
    label {
        width: 85%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(18px);
    }
    .content {
        padding-top: 45px;
        border-color: #eee9dc;
    }
    .content:before,
    .content:after {
        border: solid transparent;
        bottom: 100%;
    }
    .content:before {
        border-bottom-color: inherit;
        border-width: 17px;
        top: -16px;
        left: 50px;
        margin-left: -17px;
    }
    .content:after {
        border-bottom-color: #48b379;
        border-width: 20px;
        top: -20px;
        left: 50px;
        margin-left: -20px;
    }
    .content p {
        font-size: 8px;
        line-height: 1.4;
    }
    .circle,
    .date {
        display: none;
    }
}